node-red-data/flows1.json
[
  {
    "id": "ae5474e6e0aef843",
    "type": "inject",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 520,
    "y": 400,
    "wires": [["0d5db11eafcda136"]]
  },
  {
    "id": "0d5db11eafcda136",
    "type": "debug",
    "z": "0ccb1a30c64317ec",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1180,
    "y": 460,
    "wires": []
  },
  {
    "id": "78f15fa567b451be",
    "type": "ui_button",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "ec8738d5556fddcb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "button",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 660,
    "wires": [["3c0bc9eaad4d8103"]]
  },
  {
    "id": "a28df30679e57983",
    "type": "ui_gauge",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "order": 1,
    "width": 12,
    "height": 7,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "10",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 810,
    "y": 720,
    "wires": []
  },
  {
    "id": "276b752395bc9c5e",
    "type": "ui_chart",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1130,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "b78c13e82e8ffd77",
    "type": "ui_audio",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "voice": "",
    "always": "",
    "x": 1200,
    "y": 540,
    "wires": []
  },
  {
    "id": "3c604314bf0f7ce7",
    "type": "inject",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 430,
    "y": 760,
    "wires": [
      [
        "0d80fabf1afc58b6",
        "2a49f63d556a260e",
        "c3f3b1e35f76a9d6",
        "7dbfd403ef789dcb"
      ]
    ]
  },
  {
    "id": "0d80fabf1afc58b6",
    "type": "function",
    "z": "0ccb1a30c64317ec",
    "name": "function 1",
    "func": "msg.payload = msg.payload % 10\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 700,
    "wires": [["a28df30679e57983"]]
  },
  {
    "id": "2a34ab5d8e41d78e",
    "type": "ui_gauge",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "order": 3,
    "width": 12,
    "height": 7,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "15",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 810,
    "y": 780,
    "wires": []
  },
  {
    "id": "f20448a65b91e43c",
    "type": "ui_gauge",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "order": 2,
    "width": 12,
    "height": 7,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "80",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 810,
    "y": 820,
    "wires": []
  },
  {
    "id": "40250b647433aa58",
    "type": "ui_gauge",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "group": "bf1a8505539449ae",
    "order": 4,
    "width": 12,
    "height": 7,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "166",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 810,
    "y": 860,
    "wires": []
  },
  {
    "id": "2a49f63d556a260e",
    "type": "function",
    "z": "0ccb1a30c64317ec",
    "name": "function 2",
    "func": "msg.payload = msg.payload % 15\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 760,
    "wires": [["2a34ab5d8e41d78e"]]
  },
  {
    "id": "c3f3b1e35f76a9d6",
    "type": "function",
    "z": "0ccb1a30c64317ec",
    "name": "function 3",
    "func": "msg.payload = msg.payload % 80\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 820,
    "wires": [["f20448a65b91e43c"]]
  },
  {
    "id": "7dbfd403ef789dcb",
    "type": "function",
    "z": "0ccb1a30c64317ec",
    "name": "function 4",
    "func": "msg.payload = msg.payload % 166\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 860,
    "wires": [["40250b647433aa58"]]
  },
  {
    "id": "a539e4963130b580",
    "type": "ui_toast",
    "z": "0ccb1a30c64317ec",
    "position": "prompt",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Cancel",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "",
    "x": 910,
    "y": 600,
    "wires": [["e0789ad07ca28a26"]]
  },
  {
    "id": "3c0bc9eaad4d8103",
    "type": "change",
    "z": "0ccb1a30c64317ec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "What's your name?",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 660,
    "wires": [["a539e4963130b580"]]
  },
  {
    "id": "ea83d00f4b8ecd2b",
    "type": "ui_toast",
    "z": "0ccb1a30c64317ec",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "Cancel",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "",
    "x": 1250,
    "y": 620,
    "wires": []
  },
  {
    "id": "e0789ad07ca28a26",
    "type": "function",
    "z": "0ccb1a30c64317ec",
    "name": "function 5",
    "func": "msg.payload = 'Hi '+ msg.payload + '!!!!'\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 580,
    "wires": [["ea83d00f4b8ecd2b"]]
  },
  {
    "id": "ec8738d5556fddcb",
    "type": "ui_group",
    "name": "Default",
    "tab": "3eaafc02c97619ad",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "bf1a8505539449ae",
    "type": "ui_group",
    "name": "Default",
    "tab": "d0330ada327d3fe1",
    "order": 1,
    "disp": true,
    "width": 24,
    "collapse": false,
    "className": ""
  },
  {
    "id": "3eaafc02c97619ad",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "d0330ada327d3fe1",
    "type": "ui_tab",
    "name": "Tab",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
